*.o
*.lo
*.a
*.la
*.gmo
.deps
.libs
Makefile
Makefile.in
Makefile.in.in
Makefile.org
COPYING
POTFILES
aclocal.m4
config.guess
config.h
config.h.in
config.h.org
config.log
config.status
config.sub
configure
depcomp
file_lists
file_lists_ppd
install
install-sh
libtool
ltmain.sh
missing
stamp-h1

# Binaries
/[1-9]*/libs_bin*/*.so
/backend/src/cnijusb
/backendnet/backend/cnijnet
/backendnet/lmonitor/cnijnetprn
/cmdtocanonij/filter/cmdtocanonij
/cngpij/cngpij/cngpij
/cngpijmnt/src/cngpijmnt
/cngpijmon-*/src/cngpijmon
/cnijbe/src/cnijbe
/cnijfilter-*/src/bjfilter
/cnijfilter-*/src/cif
/cnijnpr/src/cnijnpr
/com/libs_bin*/libcnbpcnclapicom.so
/com/libs_bin*/libcnnet.so
/lgmon-*/src/lgmon
/lgmon2/m4/
/lgmon2/src/cnijlgmon2
/pstocanonbj/filter/pstocanonbj
/pstocanonij/filter/pstocanonij

# Debian files
/debian/*.debhelper.log
/debian/*.substvars
/debian/cnijfilter-*/
/debian/files
/debian/printer-driver-cnijfilter/
build-stamp
configure-stamp
