
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-MP490
Exec=cngpijmonmp490
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

