
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-PIXUS950I
Exec=cngpijmonpixus950i
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

