
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-IP1900
Exec=cngpijmonip1900
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

