
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-MX410
Exec=cngpijmonmx410
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

