
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-MP630
Exec=cngpijmonmp620
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

