
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-MX510
Exec=cngpijmonmx510
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

