
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-PIXUSIP3100
Exec=cngpijmonbjs700
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

