
[Desktop Entry]
MimeType=text/pro
Name=Canon-Printer-Monitor
Exec=canon-ijmon
Icon=printer.png
Categories=Graphics
NoDisplay=true
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

