
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-PIXUS850I
Exec=cngpijmonpixus850i
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

