
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-MG3200
Exec=cngpijmonmg3200
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

