
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-IP3300
Exec=cngpijmonip3300
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

