
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-IP1800
Exec=cngpijmonip1800
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

