
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-PIXUSIP3100
Exec=cngpijmonip3000
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

