
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-PIXUSIP4100
Exec=cngpijmonip4000
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

