
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-MG6300
Exec=cngpijmonmg6300
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

