
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-MP510
Exec=cngpijmonmp510
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

