
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-IP2600
Exec=cngpijmonip2600
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

