
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-BJS600
Exec=cngpijmonBJS600
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

