
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-MG2100
Exec=cngpijmonmg2100
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

