
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-IP2700
Exec=cngpijmonip2700
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

