
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-MX340
Exec=cngpijmonmx340
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

