
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-IP90
Exec=cngpijmonip90
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

