
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-I255
Exec=cngpijmonpixus255i
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

