
[Desktop Entry]
MimeType=text/pro
Name=Cngpijmon-IX6500
Exec=cngpijmonix6500
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment=Status monitor for Canon Inkjet Printer Driver under CUPS.

