
[Desktop Entry]
MimeType=text/pro
Name=Maintenance-MG5400
Exec=cngpijmnt Canon-MG5400
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="maintenance" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

