
[Desktop Entry]
MimeType=text/pro
Name=Maintenance-E510
Exec=cngpijmnt Canon-E510
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="maintenance" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

