
[Desktop Entry]
MimeType=text/pro
Name=Printui-MX360
Exec=cngpij -P Canon-MX360
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="printui" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

