
[Desktop Entry]
MimeType=text/pro
Name=Printui-BJF900
Exec=cngpij -P Canon-BJF900
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="printui" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

