
[Desktop Entry]
MimeType=text/pro
Name=Printui-MP610
Exec=cngpij -P Canon-MP610
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="printui" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

