
[Desktop Entry]
MimeType=text/pro
Name=Printui-PIXUS-IP4100
Exec=cngpij -P Canon-PIXUS-IP4100
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="printui" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

