
[Desktop Entry]
MimeType=text/pro
Name=Printui-I860
Exec=cngpij -P Canon-I860
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="printui" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

