
[Desktop Entry]
MimeType=text/pro
Name=Printui-PIXMA-IP1000
Exec=cngpij -P Canon-PIXMA-IP1000
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="printui" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

