
[Desktop Entry]
MimeType=text/pro
Name=Printui-PIXUS-860I
Exec=cngpij -P Canon-PIXUS-860I
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="printui" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

