
[Desktop Entry]
MimeType=text/pro
Name=Printui-IP5200
Exec=cngpij -P Canon-IP5200
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="printui" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

