
[Desktop Entry]
MimeType=text/pro
Name=Printui-MG4100
Exec=cngpij -PCanon-MG4100
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="printui" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

