
[Desktop Entry]
MimeType=text/pro
Name=Printui-MG5300
Exec=cngpij -P Canon-MG5300
Icon=printer.png
Categories=Graphics
Type=Application
Terminal=false
Comment="printui" is a GUI program for Canon Inkjet Printer. You can easily select several parameters for printing.

