Source: cnijfilter-common-3.70
Section: graphics
Priority: optional
Maintainer: Canon Inc. <sup-debian@list.canon.co.jp>
Build-Depends: debhelper (>= 7.0.50~), libcupsys2-dev, libxml2-dev, libtiff4-dev, automake, autoconf, autotools-dev, libtool, libglib2.0-dev, libgtk2.0-dev, libpopt-dev
Standards-Version: 3.8.4

Package: cnijfilter-common
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixus550iseries
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.20)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixus850iseries
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.20)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixus950iseries
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.20)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixus560iseries
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixus860iseries
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixus990iseries
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixus865iseries
Architecture: i386
Depends: ${misc:Depends}, cnijfilter-pixus860iseries
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixmaip1000series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.50)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixmaip1500series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.50)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixusip3100series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.50)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixusip4100series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.50)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-pixusip8600series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.50)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip2200series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip4200series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip5200series
Architecture: i386
Depends: ${misc:Depends}, cnijfilter-ip4200series
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip5200rseries
Architecture: i386
Depends: ${misc:Depends}, cnijfilter-ip4200series
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip6600dseries
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip7500series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp500series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip90series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp160series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip3300series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp510series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip4300series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp600series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip2500series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip1800series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp140series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.80)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp210series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.80)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip3500series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.80)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp520series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.80)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip4500series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.80)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp610series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.80)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip100series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip2600series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 2.90)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip3600series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip4600series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp630series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp540series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp240series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp190series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip1900series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx860series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.10)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx320series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.10)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx330series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.10)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp270series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.20)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp490series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.20)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp550series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.20)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp560series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.20)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip4700series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.20)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp640series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.20)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip2700series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.30)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx340series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.30)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx350series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.30)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx870series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.30)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp250series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp495series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp280series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg5100series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg5200series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip4800series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg6100series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg8100series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.40)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx360series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.50)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx410series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.50)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx420series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.50)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx880series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.50)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ix6500series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.50)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg2100series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg3100series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg4100series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg5300series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg6200series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg8200series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip4900series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-e500series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx710series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx890series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx370series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx430series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx510series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-e600series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.70)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.
