Source: cnijfilter-common-3.60
Section: graphics
Priority: optional
Maintainer: Canon Inc. <sup-debian@list.canon.co.jp>
Build-Depends: debhelper (>= 7.0.50~), libcupsys2-dev, libxml2-dev, libtiff4-dev, automake, autoconf, autotools-dev, libtool, libglib2.0-dev, libgtk2.0-dev, libpopt-dev
Standards-Version: 3.8.4

Package: cnijfilter-common
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip2700series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.30)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx340series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.30)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx350series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.30)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mx870series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.30)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg2100series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg3100series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg4100series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg5300series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg6200series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mg8200series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip4900series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-e500series
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.60)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.
