#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# define build version to create "control" file.
PRINTER_BUILD_VERSION=4.00

# define build amd64 as ia32 libs
PRINTER_BUILD_64_AS=33

# define package name
COMMON_PKG=cnijfilter-common
PRINTER_DEPEND_PKG+=cnijfilter-bjf900-125-2.20-32-no
PRINTER_DEPEND_PKG+=cnijfilter-bjf9000-127-2.20-32-no
PRINTER_DEPEND_PKG+=cnijfilter-bjs300-117-2.20-32-no
PRINTER_DEPEND_PKG+=cnijfilter-bjs500-131-2.20-32-no

PRINTER_DEPEND_PKG+=cnijfilter-pixus550i-154-2.20-32-no
PRINTER_DEPEND_PKG+=cnijfilter-pixus850i-156-2.20-32-no
PRINTER_DEPEND_PKG+=cnijfilter-pixus950i-158-2.20-32-no

PRINTER_DEPEND_PKG+=cnijfilter-i250-180-2.40-32-no
PRINTER_DEPEND_PKG+=cnijfilter-i255-182-2.40-32-no

PRINTER_DEPEND_PKG+=cnijfilter-pixus560i-189-2.40-32-no
PRINTER_DEPEND_PKG+=cnijfilter-pixus860i-187-2.40-32-no
PRINTER_DEPEND_PKG+=cnijfilter-pixus990i-191-2.40-32-no

PRINTER_DEPEND_PKG+=cnijfilter-pixmaip1000-230-2.50-32-no
PRINTER_DEPEND_PKG+=cnijfilter-pixmaip1500-214-2.50-32-no
PRINTER_DEPEND_PKG+=cnijfilter-pixusip3100-218-2.50-32-no
PRINTER_DEPEND_PKG+=cnijfilter-pixusip4100-221-2.50-32-no
PRINTER_DEPEND_PKG+=cnijfilter-pixusip8600-238-2.50-32-no

PRINTER_DEPEND_PKG+=cnijfilter-ip2200-256-2.60-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip4200-260-2.60-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip6600d-265-2.60-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip7500-266-2.60-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp500-273-2.60-32-no

PRINTER_DEPEND_PKG+=cnijfilter-ip90-253-2.70-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp160-291-2.70-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip3300-292-2.70-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp510-293-2.70-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip4300-294-2.70-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp600-295-2.70-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip2500-311-2.70-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip1800-312-2.70-32-no

PRINTER_DEPEND_PKG+=cnijfilter-mp140-315-2.80-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp210-316-2.80-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip3500-319-2.80-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp520-328-2.80-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip4500-326-2.80-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp610-327-2.80-32-no

PRINTER_DEPEND_PKG+=cnijfilter-ip100-303-3.70-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-ip2600-331-2.90-32-no

PRINTER_DEPEND_PKG+=cnijfilter-ip3600-333-3.00-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip4600-334-3.00-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp630-336-3.00-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp540-338-3.00-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp240-341-3.00-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp190-342-3.00-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip1900-346-3.00-32-no

PRINTER_DEPEND_PKG+=cnijfilter-mx860-347-3.10-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mx320-348-3.10-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mx330-349-3.10-32-no

PRINTER_DEPEND_PKG+=cnijfilter-mp270-357-3.20-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp490-358-3.20-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp550-359-3.20-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp560-360-3.20-32-no
PRINTER_DEPEND_PKG+=cnijfilter-ip4700-361-3.20-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mp640-362-3.20-32-no

PRINTER_DEPEND_PKG+=cnijfilter-ip2700-364-3.30-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mx340-365-3.30-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mx350-366-3.30-32-no
PRINTER_DEPEND_PKG+=cnijfilter-mx870-367-3.30-32-no

PRINTER_DEPEND_PKG+=cnijfilter-mp250-356-3.40-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mp280-370-3.40-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mp495-369-3.40-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mg5100-373-3.40-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mg5200-374-3.40-64-no
PRINTER_DEPEND_PKG+=cnijfilter-ip4800-375-3.40-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mg6100-376-3.40-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mg8100-377-3.40-64-no

PRINTER_DEPEND_PKG+=cnijfilter-mx360-380-3.50-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mx410-381-3.50-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mx420-382-3.50-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mx880-383-3.50-64-no
PRINTER_DEPEND_PKG+=cnijfilter-ix6500-384-3.50-64-no

PRINTER_DEPEND_PKG+=cnijfilter-mg2100-386-3.60-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mg3100-387-3.60-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mg4100-388-3.60-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mg5300-389-3.60-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mg6200-390-3.60-64-no
PRINTER_DEPEND_PKG+=cnijfilter-mg8200-391-3.60-64-no
PRINTER_DEPEND_PKG+=cnijfilter-ip4900-392-3.60-64-no
PRINTER_DEPEND_PKG+=cnijfilter-e500-393-3.60-64-no

PRINTER_DEPEND_PKG+=cnijfilter-mx710-394-3.70-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mx890-395-3.70-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mx370-396-3.70-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mx430-397-3.70-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mx510-398-3.70-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-e600-399-3.70-64-yes

PRINTER_DEPEND_PKG+=cnijfilter-mp230-401-3.80-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg2200-402-3.80-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-e510-403-3.80-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg3200-404-3.80-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg4200-405-3.80-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-ip7200-406-3.80-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg5400-407-3.80-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg6300-408-3.80-64-yes

PRINTER_DEPEND_PKG+=cnijfilter-mx720-416-3.90-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mx920-417-3.90-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mx390-418-3.90-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mx450-419-3.90-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mx520-420-3.90-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-e610-421-3.90-64-yes

PRINTER_DEPEND_PKG+=cnijfilter-mg7100-423-4.00-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg6500-424-4.00-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg6400-425-4.00-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg5500-426-4.00-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg3500-427-4.00-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg2400-428-4.00-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-mg2500-429-4.00-64-yes
PRINTER_DEPEND_PKG+=cnijfilter-p200-430-4.00-64-yes


PRINTER_DEPEND_VER+=1.30
PRINTER_DEPEND_VER+=2.20
PRINTER_DEPEND_VER+=2.40
PRINTER_DEPEND_VER+=2.50
PRINTER_DEPEND_VER+=2.60
PRINTER_DEPEND_VER+=2.70
PRINTER_DEPEND_VER+=2.80
PRINTER_DEPEND_VER+=2.90
PRINTER_DEPEND_VER+=3.00
PRINTER_DEPEND_VER+=3.10
PRINTER_DEPEND_VER+=3.20
PRINTER_DEPEND_VER+=3.30
PRINTER_DEPEND_VER+=3.40
PRINTER_DEPEND_VER+=3.50
PRINTER_DEPEND_VER+=3.60
PRINTER_DEPEND_VER+=3.70
PRINTER_DEPEND_VER+=3.80
PRINTER_DEPEND_VER+=3.90
PRINTER_DEPEND_VER+=4.00

PRINTER_PKG_PROGRAM+=ppd
PRINTER_PKG_PROGRAM+=cnijfilter
PRINTER_PKG_PROGRAM+=printui
PRINTER_PKG_PROGRAM+=lgmon
PRINTER_PKG_PROGRAM+=cngpijmon

PRINTER_PKG_PPD+=cnijfilter-i550-2.20-pixus550i-32
PRINTER_PKG_PPD+=cnijfilter-i850-2.20-pixus850i-32
PRINTER_PKG_PPD+=cnijfilter-i950-2.20-pixus950i-32

PRINTER_PKG_PPD+=cnijfilter-pixus250i-2.40-i250-32
PRINTER_PKG_PPD+=cnijfilter-pixus255i-2.40-i255-32

PRINTER_PKG_PPD+=cnijfilter-i560-2.40-pixus560i-32
PRINTER_PKG_PPD+=cnijfilter-i860-2.40-pixus860i-32
PRINTER_PKG_PPD+=cnijfilter-i990-2.40-pixus990i-32

PRINTER_PKG_PPD+=cnijfilter-ip3000-2.50-pixusip3100-32
PRINTER_PKG_PPD+=cnijfilter-bjs700-2.50-pixusip3100-32
PRINTER_PKG_PPD+=cnijfilter-mp750-2.50-pixusip3100-32
PRINTER_PKG_PPD+=cnijfilter-mp780-2.50-pixusip3100-32
PRINTER_PKG_PPD+=cnijfilter-ip4000-2.50-pixusip4100-32
PRINTER_PKG_PPD+=cnijfilter-ip5000-2.50-pixusip4100-32
PRINTER_PKG_PPD+=cnijfilter-ip8500-2.50-pixusip8600-32

PRINTER_PKG_PPD+=cnijfilter-ip5200-2.60-ip4200-32
PRINTER_PKG_PPD+=cnijfilter-ip5200r-2.60-ip4200-32

PRINTER_PKG_PPD+=cnijfilter-mp620-3.00-mp630-32

SHELL = /bin/bash
export echo=echo
CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

LNGBITS := $(shell getconf LONG_BIT)
ifeq ($(LNGBITS),32)
	_arc=32
else
	_arc=64
endif
ifeq ($(PRINTER_BUILD_64_AS),33)
	ifeq ($(_arc),64)
		COMMON_PKG=cnijfilter-common-64
	endif
endif
ifeq ($(PRINTER_BUILD_64_AS),32)
	CFLAGS += -m32
	LDFLAGS += -L/lib32 -L/usr/lib32 -L/lib/i386-linux-gnu -L/usr/lib/i386-linux-gnu
	_arc=32
endif
LDFLAGS += -L../../com/libs_bin${_arc}

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	######## configure lib symlink
	cd ./; ./make-symlink.sh

	### configure common package
	######## configure libs
	cd ./libs; ./autogen.sh --prefix=/usr
	######## configure bscc2sts
	cd ./bscc2sts; ./autogen.sh
	######## configure cnijnpr
	cd ./cnijnpr; ./autogen.sh --prefix=/usr --enable-libpath=/usr/lib/bjlib
	######## configure cngpij
	cd ./cngpij; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	######## configure cngpijmnt
	cd ./cngpijmnt; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	######## configure pstocanonbj
	cd ./pstocanonbj; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	######## configure pstocanonij
	cd ./pstocanonij; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	######## configure backend
	cd ./backend; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	######## configure backendnet
	cd ./backendnet; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	######## configure cmdtocanonij
	cd ./cmdtocanonij; ./autogen.sh --prefix=/usr
	######## configure cnijbe
	cd ./cnijbe; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	######## configure lgmon2
	cd ./lgmon2; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin LDFLAGS="-L../../com/libs_bin${_arc}"
	######## configure ppd file
	cd ./ppd; ./autogen.sh --prefix=/usr --enable-ppdpath=/usr/share/ppd --program-suffix=CN_IJ_MODEL

	#### configure printer package
	for ver in ${PRINTER_DEPEND_VER}; do \
		echo "######## configure cnijfilter-$${ver}"; \
		pushd ./cnijfilter-$${ver}; \
		./autogen.sh --prefix=/usr --enable-libpath=/usr/lib/bjlib --enable-binpath=/usr/bin --program-suffix=CN_IJ_MODEL; \
		popd; \
		if [ -d ./printui-$${ver}} ]; then \
			echo "######## configure printui-$${ver}"; \
			pushd ./printui-$${ver}; \
			./autogen.sh --prefix=/usr --program-suffix=CN_IJ_MODEL --datadir=/usr/share; \
			popd; \
		fi; \
		if [ -d ./lgmon-$${ver} ]; then \
			echo "######## configure lgmon-$${ver}"; \
			pushd ./lgmon-$${ver}; \
			./autogen.sh --prefix=/usr --enable-progpath=/usr/bin --program-suffix=CN_IJ_MODEL; \
			popd; \
		fi; \
		if [ -d ./cngpijmon-$${ver} ]; then \
			echo "######## configure cngpijmon-$${ver}"; \
			pushd ./cngpijmon-$${ver}; \
			./autogen.sh --prefix=/usr --program-suffix=CN_IJ_MODEL --enable-progpath=/usr/bin --datadir=/usr/share; \
			popd; \
		fi; \
	done

	touch configure-stamp


build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean
	find . -name Makefile.in -print > file_lists1
	find . -name Makefile.in.in -print >> file_lists1
	find . -name Makefile.org -print >> file_lists1
	find . -name config.h -print >> file_lists1
	find . -name config.h.org -print >> file_lists1
	find . -name aclocal.m4 -print >> file_lists1
	find . -name config.guess -print >> file_lists1
	find . -name config.h.in -print >> file_lists1
	find . -name config.sub -print >> file_lists1
	find . -name config.log -print >> file_lists1
	find . -name config.status -print >> file_lists1
	find . -name configure -print >> file_lists1
	find . -name depcomp -print >> file_lists1
	find . -name install-sh -print >> file_lists1
	find . -name ltmain.sh -print >> file_lists1
	find . -name missing -print >> file_lists1
	find . -name *.gmo -print >> file_lists1
	find . -name POTFILES -print >> file_lists1
	find . -name mkinstalldirs -print >> file_lists1
	find . -name stamp-h1 -print >> file_lists1
	find . -name file_lists -print >> file_lists1
	find . -name COPYING -print >> file_lists1
	find . -name compile -print >> file_lists1
	find . -name .deps -print >> file_lists1
	for fn in `cat file_lists1`; do \
	  if [ -d $${fn} ]; then \
	    rm -r $${fn}; \
	  else \
	    rm -f $${fn}; \
	  fi; \
	done
	rm -f file_lists1
	rm -f install

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	### build & install printer package
	for pkg in ${PRINTER_DEPEND_PKG}; do \
		model_name=`echo $${pkg} | cut -d- -f2` && \
		comm_name=`echo $${pkg} | cut -d- -f1` && \
		model_num=`echo $${pkg} | cut -d- -f3` && \
		model_ver=`echo $${pkg} | cut -d- -f4` && \
		model_type=`echo $${pkg} | cut -d- -f5` && \
		model_dir=$${comm_name}-$${model_name}series && \
		deb_model_dir=$(CURDIR)/debian/$${model_dir}; \
		model_in="0"; \
		if [ ${_arc} = "64" ] && [ $${model_type} = "64" ]; then \
			model_in="1"; \
			if [ ${PRINTER_BUILD_64_AS} = "33" ]; then \
				deb_model_dir=$${deb_model_dir}-64; \
			fi; \
		fi; \
		if [ ${_arc} = "32" ]; then \
			model_in="1"; \
		fi; \
		if [ $${model_in} = "1" ]; then \
		for pg_name in ${PRINTER_PKG_PROGRAM}; do \
			if [ $${pg_name} = "ppd" ]; then \
				echo "######## install $${pg_name}"; \
				pushd ./$${pg_name}; \
			else \
				[ -d ./$${pg_name}-$${model_ver} ] || continue; \
				echo "######## install $${pg_name}-$${model_ver}"; \
				pushd ./$${pg_name}-$${model_ver}; \
			fi; \
			find . -name Makefile -print > file_lists; \
			find . -name config.h -print >> file_lists; \
			for fn in `cat file_lists`; do \
				if [ ! -f $${fn}.org ]; then \
					cp $${fn} $${fn}.org; \
				fi; \
				sed -e s/CN_IJ_MODEL_NUM/$${model_num}/g $${fn}.org | sed -e s/CN_IJ_MODEL/$${model_name}/ > cn_ij_tmp; mv cn_ij_tmp $${fn}; \
			done; \
			make clean; make; make install DESTDIR=$${deb_model_dir}; \
			popd; \
		done; \
		echo "######## install library $${model_num}"; \
		dh_install -s; \
		if [ -d $${model_num}/libs_bin${_arc} ]; then \
			mkdir -p $${deb_model_dir}/usr/lib; \
			for i in $(CURDIR)/$${model_num}/libs_bin${_arc}/*.so.*.*.*; do\
				install -c -m 755 $$i $${deb_model_dir}/usr/lib;\
			done; \
			cd $${deb_model_dir}/usr/lib &&\
			  for i in lib*; do\
				if [ ! -f `echo $$i | sed s/so.*$$/so/` ]; then \
				    ln -s $$i `echo $$i | sed s/so.*$$/so/`;\
				fi; \
			  done; \
			cd $(CURDIR); \
			mkdir -p $${deb_model_dir}/usr/lib/bjlib; \
			for i in $(CURDIR)/$${model_num}/database/*.*; do\
				install -c -m 644 $$i $${deb_model_dir}/usr/lib/bjlib;\
			done; \
		fi; \
		fi; \
	done
	### install printer package only ppd
	for pkgppd in ${PRINTER_PKG_PPD}; do \
		model_name=`echo $${pkgppd} | cut -d- -f2` && \
		comm_name=`echo $${pkgppd} | cut -d- -f1` && \
		model_ver=`echo $${pkgppd} | cut -d- -f3` && \
		model_type=`echo $${pkgppd} | cut -d- -f5` && \
		model_dir=$${comm_name}-$${model_name}series && \
		deb_model_dir=$(CURDIR)/debian/$${model_dir}; \
		model_in="0"; \
		if [ ${_arc} = "64" ] && [ $${model_type} = "64" ]; then \
			model_in="1"; \
			if [ ${PRINTER_BUILD_64_AS} = "33" ]; then \
				deb_model_dir=$${deb_model_dir}-64; \
			fi; \
		fi; \
		if [ ${_arc} = "32" ]; then \
			model_in="1"; \
		fi; \
		if [ $${model_in} = "1" ]; then \
		echo "######## install ppd-$${model_ver}"; \
		pushd ./ppd; \
			find . -name Makefile -print > file_lists_ppd; \
			find . -name config.h -print >> file_lists_ppd; \
			for fn in `cat file_lists_ppd`; do \
				if [ ! -f $${fn}.org ]; then \
					cp $${fn} $${fn}.org; \
				fi; \
				sed -e s/CN_IJ_MODEL/$${model_name}/g $${fn}.org > cn_ij_tmp; mv cn_ij_tmp $${fn}; \
			done; \
			make clean; make; make install DESTDIR=$${deb_model_dir}; \
		popd; \
		fi; \
	done

	### install common package
	######## compile libs
	cd ./libs; make clean; make
	######## install bscc2sts
	cd ./bscc2sts; make clean; make
	######## install cnijnpr
	cd ./cnijnpr; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	######## install cngpij
	cd ./cngpij; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	######## install cngpijmnt
	cd ./cngpijmnt; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	######## install pstocanonbj
	cd ./pstocanonbj; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	######## install pstocanonij
	cd ./pstocanonij; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	######## install backend
	cd ./backend; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	######## install backendnet
	cd ./backendnet; make clean; make; make install  DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	######## install cmdtocanonij
	cd ./cmdtocanonij; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	######## configure cnijbe
	cd ./cnijbe; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	######## configure lgmon2
	cd ./lgmon2; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	######## copy common libraries
	mkdir -p $(CURDIR)/debian/${COMMON_PKG}/usr/lib
	for i in $(CURDIR)/com/libs_bin${_arc}/*.so.*.*.*; do\
	  install -c -m 755 $$i $(CURDIR)/debian/${COMMON_PKG}/usr/lib;\
	done
	cd $(CURDIR)/debian/${COMMON_PKG}/usr/lib &&\
	  for i in lib*; do\
		if [ ! -f `echo $$i | sed s/so.*$$/so/` ]; then \
		    ln -s $$i `echo $$i | sed s/so.*$$/so/`;\
		fi; \
	  done
	cd $(CURDIR)
	######## copy ini file
	mkdir -p $(CURDIR)/debian/${COMMON_PKG}/usr/lib/bjlib
	install -c -m 644 -o lp -g lp $(CURDIR)/com/ini/cnnet.ini $(CURDIR)/debian/${COMMON_PKG}/usr/lib/bjlib
	######## copy udev rules file
	mkdir -p $(CURDIR)/debian/${COMMON_PKG}/etc/udev/rules.d
	install -c -m 644 $(CURDIR)/etc/*.rules $(CURDIR)/debian/${COMMON_PKG}/etc/udev/rules.d

	# Add here commands to install the package into debian/cnijfilter-common.
	#$(MAKE) install DESTDIR=$(CURDIR)/debian/cnijfilter-common


	touch $@

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress -X.txt
	dh_fixperms --exclude=bscc --exclude=cnnet.ini
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
