#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# define package name
COMMON_PKG=cnijfilter-common
PRINTER_DEPEND_PKG+=cnijfilter-mx860-347-3.10-32
PRINTER_DEPEND_PKG+=cnijfilter-mx320-348-3.10-32
PRINTER_DEPEND_PKG+=cnijfilter-mx330-349-3.10-32

PRINTER_DEPEND_PKG+=cnijfilter-mp270-357-3.20-32
PRINTER_DEPEND_PKG+=cnijfilter-mp490-358-3.20-32
PRINTER_DEPEND_PKG+=cnijfilter-mp550-359-3.20-32
PRINTER_DEPEND_PKG+=cnijfilter-mp560-360-3.20-32
PRINTER_DEPEND_PKG+=cnijfilter-ip4700-361-3.20-32
PRINTER_DEPEND_PKG+=cnijfilter-mp640-362-3.20-32

PRINTER_DEPEND_PKG+=cnijfilter-ip2700-364-3.30-32
PRINTER_DEPEND_PKG+=cnijfilter-mx340-365-3.30-32
PRINTER_DEPEND_PKG+=cnijfilter-mx350-366-3.30-32
PRINTER_DEPEND_PKG+=cnijfilter-mx870-367-3.30-32

PRINTER_DEPEND_PKG+=cnijfilter-mp250-356-3.40-64
PRINTER_DEPEND_PKG+=cnijfilter-mp280-370-3.40-64
PRINTER_DEPEND_PKG+=cnijfilter-mp495-369-3.40-64
PRINTER_DEPEND_PKG+=cnijfilter-mg5100-373-3.40-64
PRINTER_DEPEND_PKG+=cnijfilter-mg5200-374-3.40-64
PRINTER_DEPEND_PKG+=cnijfilter-ip4800-375-3.40-64
PRINTER_DEPEND_PKG+=cnijfilter-mg6100-376-3.40-64
PRINTER_DEPEND_PKG+=cnijfilter-mg8100-377-3.40-64

PRINTER_DEPEND_PKG+=cnijfilter-mx360-380-3.50-64
PRINTER_DEPEND_PKG+=cnijfilter-mx410-381-3.50-64
PRINTER_DEPEND_PKG+=cnijfilter-mx420-382-3.50-64
PRINTER_DEPEND_PKG+=cnijfilter-mx880-383-3.50-64
PRINTER_DEPEND_PKG+=cnijfilter-ix6500-384-3.50-64

PRINTER_DEPEND_PKG+=cnijfilter-mg2100-386-3.60-64
PRINTER_DEPEND_PKG+=cnijfilter-mg3100-387-3.60-64
PRINTER_DEPEND_PKG+=cnijfilter-mg4100-388-3.60-64
PRINTER_DEPEND_PKG+=cnijfilter-mg5300-389-3.60-64
PRINTER_DEPEND_PKG+=cnijfilter-mg6200-390-3.60-64
PRINTER_DEPEND_PKG+=cnijfilter-mg8200-391-3.60-64
PRINTER_DEPEND_PKG+=cnijfilter-ip4900-392-3.60-64
PRINTER_DEPEND_PKG+=cnijfilter-e500-393-3.60-64

PRINTER_DEPEND_VER+=3.10
PRINTER_DEPEND_VER+=3.20
PRINTER_DEPEND_VER+=3.30
PRINTER_DEPEND_VER+=3.40
PRINTER_DEPEND_VER+=3.50
PRINTER_DEPEND_VER+=3.60

PRINTER_PKG_PROGRAM+=ppd
PRINTER_PKG_PROGRAM+=cnijfilter
PRINTER_PKG_PROGRAM+=printui
PRINTER_PKG_PROGRAM+=lgmon
PRINTER_PKG_PROGRAM+=cngpijmon

SHELL = /bin/bash
CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

LNGBITS := $(shell getconf LONG_BIT)
ifeq ($(LNGBITS),32)
	_arc=32
else
	_arc=64
endif
LDFLAGS += -L../../com/libs_bin${_arc}

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	@echo "######## configure lib symlink"; \
	cd ./; ./make-symlink.sh

	### configure common package
	@echo "######## configure libs"; \
	cd ./libs; ./autogen.sh --prefix=/usr
	@echo "######## configure cngpij"; \
	cd ./cngpij; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	@echo "######## configure pstocanonij"; \
	cd ./pstocanonij; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	@echo "######## configure backend"; \
	cd ./backend; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	@echo "######## configure backendnet"; \
	cd ./backendnet; ./autogen.sh --prefix=/usr --enable-progpath=/usr/bin
	@echo "######## configure sm sub process"; \
	cd ./cngpijmon-3.60/cnijnpr; ./autogen.sh --prefix=/usr

	#### configure printer package
	for ver in ${PRINTER_DEPEND_VER}; do \
		echo "######## configure ppd file"; \
		pushd ./ppd-$${ver}; \
		./autogen.sh --prefix=/usr --enable-ppdpath=/usr/share/ppd --program-suffix=CN_IJ_MODEL; \
		popd; \
		echo "######## configure cnijfilter"; \
		pushd ./cnijfilter-$${ver}; \
		./autogen.sh --prefix=/usr --enable-libpath=/usr/lib/bjlib --enable-binpath=/usr/bin --program-suffix=CN_IJ_MODEL; \
		popd; \
		echo "######## configure printui"; \
		pushd ./printui-$${ver}; \
		./autogen.sh --prefix=/usr --program-suffix=CN_IJ_MODEL --datadir=/usr/share; \
		popd; \
		echo "######## configure lgmon"; \
		pushd ./lgmon-$${ver}; \
		./autogen.sh --prefix=/usr --enable-progpath=/usr/bin --program-suffix=CN_IJ_MODEL; \
		popd; \
		echo "######## configure cngpijmon"; \
		pushd ./cngpijmon-$${ver}; \
		./autogen.sh --prefix=/usr --program-suffix=CN_IJ_MODEL --enable-progpath=/usr/bin --datadir=/usr/share; \
		popd; \
	done

	touch configure-stamp


build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean
	find . -name Makefile.in -print > file_lists1
	find . -name Makefile.in.in -print >> file_lists1
	find . -name Makefile.org -print >> file_lists1
	find . -name config.h -print >> file_lists1
	find . -name config.h.org -print >> file_lists1
	find . -name aclocal.m4 -print >> file_lists1
	find . -name config.guess -print >> file_lists1
	find . -name config.h.in -print >> file_lists1
	find . -name config.sub -print >> file_lists1
	find . -name config.log -print >> file_lists1
	find . -name config.status -print >> file_lists1
	find . -name configure -print >> file_lists1
	find . -name depcomp -print >> file_lists1
	find . -name install-sh -print >> file_lists1
	find . -name ltmain.sh -print >> file_lists1
	find . -name missing -print >> file_lists1
	find . -name *.gmo -print >> file_lists1
	find . -name POTFILES -print >> file_lists1
	find . -name mkinstalldirs -print >> file_lists1
	find . -name stamp-h1 -print >> file_lists1
	find . -name file_lists -print >> file_lists1
	find . -name COPYING -print >> file_lists1
	find . -name compile -print >> file_lists1
	for fn in `cat file_lists1`; do \
	  if [ -d $${fn} ]; then \
	    rm -r $${fn}; \
	  else \
	    rm -f $${fn}; \
	  fi; \
	done
	rm -f file_lists1
	rm -f install

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	### build & install printer package
	for pkg in ${PRINTER_DEPEND_PKG}; do \
		model_name=`echo $${pkg} | cut -d- -f2` && \
		comm_name=`echo $${pkg} | cut -d- -f1` && \
		model_num=`echo $${pkg} | cut -d- -f3` && \
		model_ver=`echo $${pkg} | cut -d- -f4` && \
		model_type=`echo $${pkg} | cut -d- -f5` && \
		model_dir=$${comm_name}-$${model_name}series && \
		deb_model_dir=$(CURDIR)/debian/$${model_dir}; \
		if [ ${_arc} = "64" ]; then \
			if [ $${model_type} = "64" ]; then \
				model_in="1"; \
			fi; \
		else \
			model_in="1"; \
		fi; \
		if [ $${model_in} = "1" ]; then \
		for pg_name in ${PRINTER_PKG_PROGRAM}; do \
			echo "######## install $${pg_name}"; \
			pushd ./$${pg_name}-$${model_ver}; \
			find . -name Makefile -print > file_lists; \
			find . -name config.h -print >> file_lists; \
			for fn in `cat file_lists`; do \
				if [ ! -f $${fn}.org ]; then \
					cp $${fn} $${fn}.org; \
				fi; \
				sed -e s/CN_IJ_MODEL_NUM/$${model_num}/g $${fn}.org | sed -e s/CN_IJ_MODEL/$${model_name}/ > cn_ij_tmp; mv cn_ij_tmp $${fn}; \
			done; \
			make clean; make; make install DESTDIR=$${deb_model_dir}; \
			popd; \
		done; \
		echo "######## install library"; \
		dh_install -s; \
		mkdir -p $${deb_model_dir}/usr/lib; \
		install -c -m 755 $${model_num}/libs_bin${_arc}/libcnbpcmcm$${model_num}.so.* $${deb_model_dir}/usr/lib; \
		install -c -m 755 $${model_num}/libs_bin${_arc}/libcnbpcnclapi$${model_num}.so.* $${deb_model_dir}/usr/lib; \
		install -c -m 755 $${model_num}/libs_bin${_arc}/libcnbpcnclbjcmd$${model_num}.so.* $${deb_model_dir}/usr/lib; \
		install -c -m 755 $${model_num}/libs_bin${_arc}/libcnbpcnclui$${model_num}.so.* $${deb_model_dir}/usr/lib; \
		install -c -m 755 $${model_num}/libs_bin${_arc}/libcnbpess$${model_num}.so.* $${deb_model_dir}/usr/lib; \
		install -c -m 755 $${model_num}/libs_bin${_arc}/libcnbpo$${model_num}.so.* $${deb_model_dir}/usr/lib; \
		mkdir -p $${deb_model_dir}/usr/lib/bjlib; \
		install -c -m 644 $${model_num}/database/cif$${model_name}.conf $${deb_model_dir}/usr/lib/bjlib; \
		install -c -m 644 $${model_num}/database/cnb_$${model_num}0.tbl $${deb_model_dir}/usr/lib/bjlib; \
		install -c -m 644 $${model_num}/database/cnbpname$${model_num}.tbl $${deb_model_dir}/usr/lib/bjlib; \
		if [ -f $${model_num}/database/cif$${model_name}.bscc ]; then \
			install -c -m 644 -o lp -g lp $${model_num}/database/cif$${model_name}.bscc $${deb_model_dir}/usr/lib/bjlib; \
		fi; \
		fi; \
	done

	### install common package
	@echo "######## compile libs"; \
	cd ./libs; make clean; make
	@echo "######## install cngpij"; \
	cd ./cngpij; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	@echo "######## install pstocanonij"; \
	cd ./pstocanonij; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	@echo "######## install backend"; \
	cd ./backend; make clean; make; make install DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	@echo "######## install backendnet"; \
	cd ./backendnet; make clean; make; make install  DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	@echo "######## install sm sub process"; \
	cd ./cngpijmon-3.60/cnijnpr; make clean; make; make install  DESTDIR=$(CURDIR)/debian/${COMMON_PKG}
	@echo "######## install common library"; \
	mkdir -p $(CURDIR)/debian/${COMMON_PKG}/usr/lib; \
	install -c -m 755 com/libs_bin${_arc}/libcnnet.so.* $(CURDIR)/debian/${COMMON_PKG}/usr/lib; \
	mkdir -p $(CURDIR)/debian/${COMMON_PKG}/usr/lib/bjlib; \
	install -c -m 644 -o lp -g lp com/ini/cnnet.ini $(CURDIR)/debian/${COMMON_PKG}/usr/lib/bjlib;

	# Add here commands to install the package into debian/cnijfilter-common.
	#$(MAKE) install DESTDIR=$(CURDIR)/debian/cnijfilter-common


	touch $@

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms --exclude=bscc --exclude=cnnet.ini
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
